@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-bg {
  background: #37517ee5 !important;
  -webkit-transition: 400ms ease-in;
  transition: 400ms ease-in;
}

.clr-db {
  color: #37517E !important;
}

.clr-sky {
  color: #47B2E4 !important;
}

.f-f-jost, #navigation #primary-menu .nav-link {
  font-family: "Jost", sans-serif !important;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.fw-sm {
  font-weight: 500;
}

.fw-md, #navigation #primary-menu .nav-link, #why-us #faqAccordion .accordion-header .accordion-button, .vbox-close {
  font-weight: 600;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-32 {
  font-size: 32px !important;
}

.fs-48 {
  font-size: 48px !important;
}

a {
  text-decoration: none !important;
}

#navigation {
  padding: 10px 0;
}

#navigation #primary-menu .nav-link {
  color: #f1f1f1 !important;
  -webkit-transition: ease 300ms;
  transition: ease 300ms;
}

#navigation #primary-menu .nav-link:hover {
  color: #fff !important;
}

@media screen and (max-width: 991px) {
  #navigation #primary-menu {
    background: #37517E;
  }
}

#home {
  padding: 200px 0 50px;
  background: #37517E !important;
}

#home .btn {
  padding-top: 12px;
  padding-bottom: 12px;
}

#home img {
  -webkit-animation: img-ani 3s infinite alternate;
          animation: img-ani 3s infinite alternate;
  width: 80% !important;
}

@-webkit-keyframes img-ani {
  100%,
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes img-ani {
  100%,
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

#logos {
  background: #eee !important;
}

#logos img {
  width: 80% !important;
  text-align: center;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
}

#logos img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.section-title h1 {
  padding-bottom: 10px;
  position: relative;
}

.section-title h1::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 150px;
  height: .51px;
  background: #37517E;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-title h1::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 30px;
  height: 4px;
  background: #47B2E4;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#why-us {
  background: #F3F5FA;
}

#why-us #faqAccordion .accordion-item {
  border: 0px solid transparent !important;
  border-radius: 4px;
}

#why-us #faqAccordion .accordion-header .accordion-button {
  border: 0px solid transparent !important;
  font-size: 17px;
  background: #fff;
}

#why-us #faqAccordion .accordion-header .accordion-button span {
  font-size: 17px;
  font-weight: 900;
}

#skills .progress-bar {
  background: #37517E;
}

.vbox-close {
  right: 30px;
  top: 30px;
  font-size: 40px;
}

#service .box {
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

#service .box h4 a {
  color: #37517E;
  font-weight: 700;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#service .box:hover {
  -webkit-transform: translateY(-14px);
          transform: translateY(-14px);
}

#service .box:hover h4 a {
  color: #47B2E4;
}

#call-action {
  background: #37517E url(../img/cta-bg.jpg) center;
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
}
/*# sourceMappingURL=index.css.map */