@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './includes/variables';
@import './includes/global-class';
@import './includes/customize';