// all customizations
// my custom desing and customize other default design

#navigation {
  padding: 10px 0;

  #primary-menu {
    .nav-link {
      @extend .fw-md;
      @extend .f-f-jost;
      color: #f1f1f1 !important;
      transition: ease 300ms;
    }

    .nav-link:hover {
      color: #fff !important;
    }
  }

  @media screen and (max-width:991px) {
    #primary-menu {
      background: $dblue;
    }
  }
}

// hero or home section
#home {
  padding: 200px 0 50px;
  background: $dblue !important;

  .btn {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  img {
    animation: img-ani 3s infinite alternate;
    width: 80% !important;
  }

  @keyframes img-ani {

    100%,
    0% {
      transform: translateY(-10px);
    }

    50% {
      transform: translateY(10px);
    }
  }
}

#logos {
  background: #eee !important;

  img {
    width: 80% !important;
    text-align: center;
    filter: grayscale(100);
    transform: scale(.5);
    transition: all 300ms;
    cursor: pointer;
  }

  img:hover {
    filter: grayscale(0);
    transform: scale(.8);
  }
}

.section-title {
  h1 {
    padding-bottom: 10px;
    position: relative;
  }

  h1::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 150px;
    height: .51px;
    background: $dblue;
    transform: translate(-50%, -50%);
  }

  h1::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 30px;
    height: 4px;
    background: $btnclr;
    transform: translate(-50%, -50%);
  }
}

// faq section
#why-us {
  background: #F3F5FA;

  #faqAccordion {
    .accordion-item {
      border: 0px solid transparent !important;
      border-radius: 4px;
    }

    .accordion-header .accordion-button {
      border: 0px solid transparent !important;
      font-size: 17px;
      @extend .fw-md;
      background: #fff;
    }

    .accordion-header .accordion-button span {
      font-size: 17px;
      font-weight: 900;
    }
  }
}

// skill section
#skills {
  .progress-bar {
    background: $dblue;
  }
}


// venobox close button
.vbox-close {
  right: 30px;
  top: 30px;
  font-size: 40px;
  @extend .fw-md;
}

#service {
  background: #F3F5FA;
  .box {
    transition: all 400ms;
    h4 a{
      color: $dblue;
      font-weight: 700;
      transition: 300ms;
    }
  }
  .box:hover{
    transform: translateY(-14px);
    h4 a{
      color: $btnclr;
    }
  }
}

#call-action{
  background: $dblue url(../img/cta-bg.jpg) center;
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
}

#portfolio{
  .box{
    position: relative !important;
    transition: all 400ms;
    overflow: hidden;
    img{
      transition: 400ms;
      height: 350px;
    }
    @media screen and (max-width:991px) {
      img{
        height: 250px;
        width: 100% !important;
      }
    }
    .overlay{
      bottom: -100%;
      left: 50%;
      // display: none !important;
      position: absolute !important;
      width: 95%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 500ms ease-in-out !important;
    }
  }
  .box:hover{
    img{
      transform: scale(1.2);
    }
    .overlay{
      bottom: 15px;
      // display: block !important;
      opacity: 1;
    }
  }
}


#team{
  background: #F3F5FA;

  .box{
    transition: 400ms;
    h3{
      font-size: 20px;
    }
    .title{
      color: #37517E;
      letter-spacing: 3px;
      font-size: 13px;
    }
    .social-media{
      a{
        display: inline-block;
        padding: 6px 11px;
        font-size: 18px;
        border-radius: 50%;
        color: $dblue;
        background: #88888831;
        transition: ease-in-out 400ms;
      }
      a:hover{
        background: $dblue;
        color: #fff !important;
      }
    }
  }
  .box:hover{
    transform: translateY(-7px);
  }
}


#pricing{
  .box{
    transition: 300ms;
    [class*='btn-outline']:hover{
      color: #fff;
    }
  }
  .box.business{
    position: relative;
  }
  .box.business::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, #00f, #0089be);
    top: 0;
    left: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .box:hover{
    transform: translateY(-5px);
  }
}