// all customizations
// my custom desing and customize other default design

#navigation{
  padding: 10px 0;
  #primary-menu{
    .nav-link{
      @extend .fw-md;
      @extend .f-f-jost;
      color: #f1f1f1 !important;
      transition: ease 300ms;
    }
    .nav-link:hover{
      color: #fff !important;
    }
  }
  @media screen and (max-width:991px) {
    #primary-menu{
      background: $dblue;
    }
  }
}

// hero or home section
#home{
  padding: 200px 0 50px;
  background: $dblue !important;

  .btn{
    padding-top: 12px;
    padding-bottom: 12px;
  }
  img{
    animation: img-ani 3s infinite alternate;
    width: 80% !important;
  }
  @keyframes img-ani {
    100%, 0%{
      transform: translateY(-10px);
    }
    50%{
      transform: translateY(10px);
    }
  }
}
#logos{
  background: #eee !important;
  img{
    width: 80% !important;
    text-align: center;
    filter: grayscale(100);
    transform: scale(.5);
    transition: all 300ms;
    cursor: pointer;
  }
  img:hover{
    filter: grayscale(0);
    transform: scale(.8);
  }
}

#about{
  h1{
    padding-bottom: 10px;
    position: relative;
  }
  h1::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 150px;
    height: .51px;
    background: $dblue;
    transform: translate(-50%, -50%);
  }
  h1::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 30px;
    height: 4px;
    background: $btnclr;
    transform: translate(-50%, -50%);
  }
}

// faq section
#why-us{
  background: #F3F5FA;

  #faqAccordion{
    .accordion-item{
      border: 0px solid transparent !important;
      border-radius: 4px;
    }
    .accordion-header .accordion-button{
      border: 0px solid transparent !important;
      font-size: 17px;
      @extend .fw-md;
      background: #fff;
    }
    .accordion-header .accordion-button span{
      font-size: 17px;
      font-weight: 900;
    }
  }
}


// venobox close button
.vbox-close{
  right: 30px;
  top: 30px;
  font-size: 40px;
  @extend .fw-md;
}